@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model Pizza
}

<img src="@Model.Image" class="redux" alt="Immagine pizza">
<h1>@Model.Name</h1>
<h1>@Model.Description</h1>
<h1>@Model.Price</h1>
<h1>Descrizione della pizza</h1>


